<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bagsandbags</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginControllerServer</servlet-name>
    <servlet-class>prasad.com.LoginControllerServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerServer</servlet-name>
    <url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>prasad.com.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupControler</display-name>
    <servlet-name>SignupControler</servlet-name>
    <servlet-class>prasad.com.SignupControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupControler</servlet-name>
    <url-pattern>/addnewuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BagStock</display-name>
    <servlet-name>BagStock</servlet-name>
    <servlet-class>prasad.com.BagStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BagStock</servlet-name>
    <url-pattern>/BagStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BagStockControler</display-name>
    <servlet-name>BagStockControler</servlet-name>
    <servlet-class>prasad.com.BagStockControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BagStockControler</servlet-name>
    <url-pattern>/BagStockControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStockController</display-name>
    <servlet-name>AddStockController</servlet-name>
    <servlet-class>prasad.com.AddStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStockController</servlet-name>
    <url-pattern>/addstock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRowStockConntroller</display-name>
    <servlet-name>UpdateRowStockConntroller</servlet-name>
    <servlet-class>prasad.com.UpdateRowStockConntroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRowStockConntroller</servlet-name>
    <url-pattern>/updateRowStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStockController</display-name>
    <servlet-name>DeleteStockController</servlet-name>
    <servlet-class>prasad.com.DeleteStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStockController</servlet-name>
    <url-pattern>/deleteStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BagDeleteControler</display-name>
    <servlet-name>BagDeleteControler</servlet-name>
    <servlet-class>prasad.com.BagDeleteControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BagDeleteControler</servlet-name>
    <url-pattern>/BagDeleteControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBagControler</servlet-name>
    <servlet-class>prasad.com.UpdateBagStockControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBagControler</servlet-name>
    <url-pattern>/updateBag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBagStockControler</display-name>
    <servlet-name>UpdateBagStockControler</servlet-name>
    <servlet-class>prasad.com.UpdateBagStockControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBagStockControler</servlet-name>
    <url-pattern>/UpdateBagStockControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReadyBagController</display-name>
    <servlet-name>DeleteReadyBagController</servlet-name>
    <servlet-class>prasad.com.DeleteReadyBagController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReadyBagController</servlet-name>
    <url-pattern>/deleteReadyBag</url-pattern>
  </servlet-mapping>
</web-app>